

# Ignore Project files
Accessing SPICE on Chipshub.pdf
EE598_CEN598-ASU-VLSI-Design-Automation-MiniProject2.pdf
Phase1 Description.pdf

*.vmap
*.imap
*.irdrop
*.pdn
*.voltage

#Ignore VS Code files
.DS_Store

#Python Venv
EEE598/